.searchUsersPage {
  margin: 0 20px;

  &SearchPanel {
    margin-top: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 30px;
  }

  &UsersContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  &Placeholder {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &Sort {
    margin-top: 20px;
    min-width: 160px;
  }

  &ShowMoreBtn {
    margin-top: 20px;
  }
}